<h1 class="center" *ngIf="showDetails">
	Current weather for {{currentWeather.name}}
	<button  *ngIf="showDetails" type="button" class="btn btn-default btn-sm" (click)="edit()">
    <span class="glyphicon glyphicon-pencil"></span> Edit 
  </button>
</h1>
<table *ngIf="showDetails">
	<tbody>
		<tr>
			<td>
				<h3>Current Temperature:</h3>
			</td>
			<td>
				<h3>
					{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C
				</h3>
			</td>
		</tr>

	</tbody>
</table>
<div *ngIf="!showDetails">
	<div class="form-group">
		<label for="usr">Location:</label>
		<input type="text" class="form-control" [(ngModel)]="location" placeholder="Please Enter Location" id="usr">
  </div>
		<button type="button" class="btn btn-primary" (click)="searchWeather()">Search</button>

		<h1 class="center">{{msg}}</h1>
	</div>